#flash-messages1,
#flash-messages2 {
	color: red;
}
.bold {
	font-weight: bold;
}
table#myTable td {
	font-size: 14px;
	/* padding: 3 px; */
}
/* #but_add {
	margin-right: 4rem;
} */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}
